@page "/"
@page "/tab"


@if (isLoading)
{
    <div style="display: flex; justify-content: center; align-items: center; min-height: 100vh;">
        <FluentProgressRing />
    </div>
}
else
{
<div>
    <OrderingApp.Components.Pages.MainNav/>
</div>

}

@code {
    string errorMessage;
    bool isLoading = true;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        try
        {
            await base.OnAfterRenderAsync(firstRender);
        }
        finally
        {
            isLoading = false;
            StateHasChanged();
        }
    }
}

